<!DOCTYPE html>
<html>
<head>
  <title>FREEDOM!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="dream-track" href="<%= asset_path 'uncompiled/dream.mp3' %>">
</head>
<body>

<%= yield %>

</body>
</html>
